
<div class="container-fluid">
    <div class="container row">
        <div class="col col-4 mt-1"><button type="button" (click)="goBack()">Go Back</button></div>
        <div class="col col-8 mt-1 p-0"><h4 *ngIf="contact">{{contact.firstname | uppercase}} {{contact.lastname | uppercase}}</h4></div>    
    </div>
    
    <div class="container row w-100 m-0">        
        <input #searchMessaggi id="search-box" (input)="searchMsg(searchMessaggi.value)" placeholder="Cerca tra i messaggi..." /> <br>
    </div>
</div>
<div class="container-fluid mt-2">
    <div *ngFor="let item of messages" class="messages">
        <div *ngIf="(item.deleted == false||null||undefined)" [class.outcoming]="item.type == 'outcoming'">
            {{item.message}}
            <button *ngIf="item.type=='outcoming'" (click)="updateMessage(item) "> x </button>
        </div>
        <div *ngIf="item.deleted==true;" [class.outcoming]="item.type=='outcoming'">{{messageDeleted}}</div>
        <div *ngIf="item.type=='incoming'" [class.incoming]="item.type=='incoming'"> {{item.message}}</div>
    </div>
</div>
<div class="container-fluid row m-0 mt-2 p-0 px-3">    
        <div class="col col-11 p-0"><input id="text-box" #newMessage placeholder="Scrivi un nuovo messaggio..." /></div>
        <div class="col col-1 p-0"><button id="send-button" (click)="addMessage(newMessage.value); newMessage.value='' ">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
            </button>
        </div>
</div>   


