#singleContact{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid grey;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 300px;
    justify-content: center;    
}

.contatto {
  display: flex;
  justify-content: center;
}