.vuoto {
    display: none;
}

.cella {
    justify-items: center;
}

.button {
    width: fit-content;
    font-size: smaller;
}

nav {
    margin: 0px;
    margin-bottom: 0.25rem;
}

label {
    text-align: center;
}

#stud, #teach {
    text-align: center;
}
 