.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title{
    padding: 0px;
}

#button {
    padding-top: 0.25rem;
    padding-right: 0px;
    padding-left: 0px;
}