<div class="container">
    <h1>{{title}}</h1>
    <div class="row align-items-start mt-3">
        <div class="col align-items-center">
            <a class="btn btn-primary btn-lg btn-block" type="button" routerLink="/contacts">Rubrica</a>
        </div>
        <div class="col align-items-center">
            <a class="btn btn-success btn-lg btn-block" type="button" routerLink="/whatsapp">WhatsApp</a>
        </div>
    </div>
    <div class="row align-items-end mt-3">
        <div class="col">
            <button class="btn btn-secondary" disabled type="button">PlaceHolder 1</button></div>
        <div class="col">
            <button class="btn btn-secondary" disabled type="button">Placeholder 2</button></div>
    </div>
</div>